{% extends 'base.html' %}
{% block titulo %}Lista departamentos{% endblock titulo %}
{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista departamentos</h1>
            <div class="cell">
                <table>
                    <tbody>
                        
                        {% for departamento in departamentos %}
                            <tr>
                                <td>{{ departamento.name }}</td>
                                <td>{{ departamento.shor_name }}</td>
                                <td>
                                    
                                    {% if departamento.active == True %}
                                        <label class="switch_uniq">
                                            <input type="checkbox" checked disabled>
                                            <span class="slider_uniq round"></span>
                                        </label>
                                    {% else %}
                                        <label class="switch_uniq">
                                            <input type="checkbox" disabled>
                                            <span class="slider_uniq round"></span>
                                        </label>
                                    {% endif %}
                                        
                                    
                                </td>
                                <td>
                                    <a class="button warning" href="{% url 'empleados_app:empleados_area' departamento.id %}">Ver empleados</a>
                                </td>
                            </tr>                           
                        {% endfor %}
                            

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}